<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}zeroCMS - {% endblock %}</title>

        {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        {% endblock %}
        {% block javascripts %}
        
        {% endblock %}

        </head>
        <body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">zéroCMS</a>

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Login">

            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Home <small> propulsed by symfony2</small></h1>
        </div>
        <div class="row">
          {% block body %}
           
          {% endblock %}
          
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>

      </footer>

    </div> <!-- /container -->
        </body>

    </html>
