{% extends "::base.html.twig" %}
{% block title %}{{parent()}}Demo{% endblock %}

{% block body %}
{{parent()}}
<div class="hero-unit">
    <h1>Bienvenue sur le CMS des zéros !!!</h1>
    <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p><a class="btn primary large">En savoir + &raquo;</a></p>
</p>

</div>

<ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#popup">Popup</a></li>
    <li class=""><a href="#formulaires">Formulaires</a></li>
    <li class=""><a href="#boutons">Boutons</a></li>
    <li class=""><a href="#alertes">Alertes</a></li>

    <li class="dropdown" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle">Dropdown</a>
        <ul class="dropdown-menu">
            <li><a href="#fat">@fat</a></li>
            <li><a href="#mdo">@mdo</a></li>
        </ul>
    </li>

</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="popup">
        <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Bootstrap JS</h3>
            </div>
            <div class="modal-body">
            <form action="" class="form-stacked">
            <fieldset>
                <legend>Contactez nous !</legend>

                <div class="clearfix">
                    <label for="xlInput1">Prénom</label>
                    <div class="input">
                        <input class=".span6" id="xlInput1" name="xlInput1" type="text" required="true">
                    </div>
                    <label for="prependedInput">Email</label>
                    <div class="input">
                       
                    <input class=".span6" id="prependedInput" name="prependedInput" type="text" required="true">
                     
                    </div>
                    <label for="textarea">Message</label>
                    <div class="input">
                        <textarea class=".span6" id="textarea" name="textarea" rows="3" required="true"></textarea>
                    </div>
                </div><!-- /clearfix -->

            </fieldset>

            <div class="actions">
                <button type="submit" class="btn primary">Envoyer</button>&nbsp;<button type="reset" class="btn">Annuler</button>
            </div>
        </form>
                
            </div>
            
        </div>

        <button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn danger">Ouvrir popup</button><br/><br/>
            
    </div>
    <div class="tab-pane" id="formulaires">
        <form action="" class="form-stacked">
            <fieldset>
                <legend>Contactez nous !</legend>

                <div class="clearfix">
                    <label for="xlInput1">Prénom</label>
                    <div class="input">
                        <input class="medium" id="xlInput1" name="xlInput1" size="30" type="text" required="true">
                    </div>
                    <label for="prependedInput">Email</label>
                    <div class="input">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input class="medium" id="prependedInput" name="prependedInput" size="20" type="text" required="true">
                        </div>
                        <span class="help-block">Here's some help text</span>
                    </div>
                    <label for="textarea">Message</label>
                    <div class="input">
                        <textarea class="medium" id="textarea" name="textarea" rows="3" required="true"></textarea>
                    </div>
                </div><!-- /clearfix -->

            </fieldset>

            <div class="actions">
                <button type="submit" class="btn primary">Envoyer</button>&nbsp;<button type="reset" class="btn">Annuler</button>
            </div>
        </form>    </div>

    <div class="tab-pane" id="boutons">
        <div class="well" style="padding: 14px 19px;">
            <button class="btn primary">Primary</button>&nbsp;<button class="btn">Default</button>&nbsp;<button class="btn info">Info</button>&nbsp;<button class="btn success">Success</button>&nbsp;<button class="btn danger">Danger</button>
        </div>
        <h3>Alternate sizes</h3>
        <p>Fancy larger or smaller buttons? Have at it!</p>

        <div class="well">
            <a href="#" class="btn large primary">Primary action</a>
            <a href="#" class="btn large">Action</a>
        </div>
        <div class="well" style="padding: 16px 19px;">
            <a href="#" class="btn small primary">Primary action</a>
            <a href="#" class="btn small">Action</a>

        </div>
        <h3>Disabled state</h3>
        <p>For buttons that are not active or are disabled by the app for one reason or another, use the disabled state. That’s <code>.disabled</code> for links and <code>:disabled</code> for <code>&lt;button&gt;</code> elements.</p>

        <h4>Links</h4>
        <div class="well">
            <a href="#" class="btn large primary disabled">Primary action</a>
            <a href="#" class="btn large disabled">Action</a>
        </div>
        <h4>Buttons</h4>
        <div class="well">

            <button class="btn large primary disabled" disabled="disabled">Primary action</button>&nbsp;<button class="btn large" disabled="disabled">Action</button>
        </div>    </div>
    <div class="tab-pane" id="alertes">
        <div class="alert-message warning fade in" data-alert="alert">

            <a class="close" href="#">×</a>
            <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
        </div>
        <div class="alert-message block-message error fade in" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><strong>Oh snap! You got an error!</strong> Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>

            <div class="alert-actions">
                <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
            </div>
        </div>
        <div class="alert-message warning">
            <a class="close" href="#">×</a>
            <p><strong>Holy guacamole!</strong> Best check yo self, you’re not <a href="#">looking too good</a>.</p>
        </div>
        <div class="alert-message error">

            <a class="close" href="#">×</a>
            <p><strong>Oh snap!</strong> Change this and that and <a href="#">try again</a>.</p>
        </div>
        <div class="alert-message success">
            <a class="close" href="#">×</a>

            <p><strong>Well done!</strong> You successfully <a href="#">read this</a> alert message.</p>
        </div>
        <div class="alert-message info">
            <a class="close" href="#">×</a>
            <p><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not <a href="#">a huge priority</a> just yet.</p>

        </div>
    </div>
    <div class="tab-pane" id="fat">
        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

    </div>
    <div class="tab-pane" id="mdo">
        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
    </div>
</div>
{% endblock %}