<div id="sidebar" class="sidebar">
    <ul class="zerocms">
        <li><a href="#">Menu</a></li>
    </ul>
    <ul class="zerocms">
        <li><a href="#">Menu</a></li>
    </ul>
    <ul class="zerocms">
        <li><a href="#">Menu</a></li>
    </ul>
    <ul class="zerocms">
        <li><a href="#">Menu</a></li>
    </ul>
    <ul class="zerocms">
        <li><a href="#">Menu</a></li>
    </ul>
    <ul class="zerocms">
        <li><a href="#">Menu</a></li>
    </ul>
</div>