<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#">zéroCMS</a>

            <ul class="nav">
                <li class="active"> <a href="{{ path('ZcmsFrontendBundle_homepage') }}">Home</a></li>
                <li>                <a href="{{ path('ZcmsFrontendBundle_demo') }}">Demo</a></li>
            </ul>
            <form action="" class="pull-right">
                <input class="input-small" type="text" placeholder="Login">

                <input class="input-small" type="password" placeholder="Password">
                <button class="btn" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>