<div class="topbar" data-dropdown="dropdown">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#">zéroCMS</a>

            <ul class="nav">
                <li class="active"> <a href="{{ path('ZcmsFrontendBundle_homepage') }}">Home</a></li>
                <li>                <a href="{{ path('ZcmsFrontendBundle_demo') }}">Demo</a></li>
            </ul>
            {% render "ZcmsUserBundle:Security:Loginhaut" %}
        </div>
    </div>
</div>