{% extends "::base.html.twig" %}

{% block title %}Ajouter commentaire{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ commentaire.article.titre }}"</h1>
    {% include 'ZcmsFrontendBundle:Commentaire:form.html.twig' with { 'form': form } %}
{% endblock %}